
.heading{
    
    margin-top: 5rem;
    
}
h1{
    font-size: xxx-large;
    margin-left: 15rem;
}
p{
    margin-left: 15rem;
    margin-right: 40rem;
}
small{
    margin-left: 15rem;
    
}
.contentimg{
    height: 250px;
    margin-top: -30rem;
    margin-left: 55rem;

}