
.heading{
    
    margin-top: 5rem;
    
}
h1{
    font-size: xxx-large;
    margin-left: 15rem;
}
p{
    margin-left: 15rem;
    margin-right: 40rem;
}
small{
    margin-left: 15rem;
    
}
.contentimg{
    height: 250px;
    margin-top: -30rem;
    margin-left: 55rem;

}
.mdn{
    margin-top: 0.1rem;
    margin-left: 12rem;
}
.Learn{
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    margin-left: 15rem;
    border: 1px solid pink;
    margin-right: 64rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: #6261F6;
    border-radius: 3rem;
    color: white ;
}